.css-1t6c9ts {
    justify-content: center !important;
}


.bg-line {
    fill: #252734;
    stroke: #4BFFA5;
    transition: all 0.8s ease-in-out;
}
.hl-line {
    stroke: #fff;
    stroke-dasharray: 40 480;
    stroke-dashoffset: 40;
    transition: all 0.8s ease-in-out;
}
.button:hover span{
    /* fill: #4BFFA5; */
    color: #4BFFA5 !important;
}
.button:hover .hl-line {
    stroke-dashoffset: -480;
}
  